{% extends "learning_logs/base.html" %}
{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">
            Keep track of your learning.</h1>
        <p class="lead">Make your learning journal and keep a list of the topics you are learning. When you learn
            something new on a topic, make a note summarizing what you have learned.</p>
        <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary" role="button">Registration &raquo;</a>
    </div>
{% endblock page_header %}